body {
    background-color: whitesmoke
    
}

h4 {
    color: rgb(0, 0, 0);
    margin-left: 47%;
}

header {
    background: rgb(51, 4, 4);
    color: rgb(255, 255, 255);
    margin-bottom: 10%;
    margin-top: 0%;
    border-top-style: double;
    border-bottom-style: double;
    width: 70%;
    height: 25%;
    margin-left: 15%;
}

#titulo {
    text-align: center;
}

section {
    background: rgb(51, 4, 4);    
    color: rgb(255, 255, 255);
    margin-bottom: 10%;
    margin-top: 10%;
    border-top-style: double;
    border-bottom-style: double;
    width: 70%;
    margin-left: 15%;
}

#user {
    margin-left: 40%;
}

img {
    margin-left: 35%;
}

#acept {
    margin-left: 8%;
    margin-bottom: 2%;
}

@media  (max-width: 1070px) {
    img {
        width: 46%;
        margin-left: 26%
    }
    header  {
        width: 70%;
        margin-left: 15%
    }
    section {
        width: 70%;
    }
        
       
}
@media  (max-width: 990px) {
    img {
        width: 52%;
        margin-left: 28%;
    }
    header {
        width: 70%;
        margin-left: 20%;
    }
    section {
        width: 70%;
        margin-left: 20%;
    }
    h4 {
        width: 20%;
        margin-left: 52%
    }
    #acept {
        margin-left: 10%
    }
    #user {
        margin-left: 37%;
}
@media  (max-width: 800px) {
    header {
        width: 70%;
        margin-left: 20%;
    }
    section {
        width: 70%;
        margin-left: 20%;
    }
    h4 {
        margin-left: 50%
    }
    #acept {
        margin-left: 12%
    }
    #user {
        margin-left: 35%;
}

@media  (max-width: 690px) {
    header {
       width: 61%;
       margin-left: 20%; 
    }
    img {
        width: 52%;
        margin-left: 22%;
    }
    section {
        width: 61%;
        margin-left: 20%;
    }
    h4 {
        margin-left: 45%
    }
    #acept {
        margin-left: 17%;
    }
    #user {
        margin-left: 29%;
    }
}
@media  (max-width: 500px) {
    header {
        width: 50%;
        margin-left: 27%;
    }
    section {
        width: 50%;
        margin-left: 27%;
    }
    h4 {
        width: 30%;
        margin-left: 45%
    }
    img {
        width: 50%;
        margin-left: 25%;
    }
    #user {
        margin-left: 35%;
    }
    #acept {
        margin-left: 25%;
    }
    #user {
        margin-left: 13%;
    }
}