body {
    background-color: whitesmoke
}

.fotos {
    width: 20%;
    margin-left: 3%;
}
.nav {
    margin-top: 2%;
    margin-bottom: 2%;
    background: rgb(51, 4, 4);
    border-top-style: double;
    border-bottom-style: double;
    width: 100%;
    
}
.navegacion {
    margin-left: 16%;
    color: white;
}

h1 {
    font-family: fantasy;
    color: green;
    margin-left: 35%;
    margin-top: 8%;
}

@media  (max-width: 1060px){
    .navegacion {
        margin-left: 11%;
    }
    h1 {
        margin-left: 29%;
    }
}
@media  (max-width: 874px) {
    .navegacion{
        margin-left: 11%;
    }
    h1 {
        margin-left: 25%;
    }
@media (max-width: 760px) {
    .navegacion {
        margin-left: 8%;
    }
    h1 {
        margin-left: 22%;
    }
} 

}
@media  (max-width: 740px) {
    .navegacion {
        margin-left: 7%;
    }
    h1 {
        margin-left: 19%;
    }
}  

@media  (max-width: 602px) {
    .navegacion {
        margin-left: 4%;
    }
    h1 {
        margin-left: 14%;
    }
}

@media  (max-width: 625px) {
    .navegacion {
        margin-left: 5%;
    }
    h1 {
        margin-left: 15%;
    }
}

@media  (max-width: 650px) {
    .navegacion {
        margin-left: 5%;
    }
    h1 {
        margin-left: 16%;
    }
}

@media  (max-width: 670px) {
    .navegacion {
        margin-left: 6%;
        text-align: center;
    }
    h1 {
        margin-left: 18%;
    }
}

@media  (max-width: 585px) {
    .navegacion {
        margin-left: 3%;
    }
    h1 {
        margin-left: 13%;
        margin-top: 40%;
    }
}
@media  (max-width: 530px) {
    .navegacion {
        margin-left: 38%;
    }
    h1 {
        margin-left: 8%;
        margin-top: 50%;
    }
}
@media  (max-width: 563px) {
    .navegacion {
        margin-left: 2%;
} 

@media  (max-width: 547px) {
    .navegacion {
        margin-left: 1%;}
}

@media  (max-width: 500px) { 
    .nav {
        width: 100%;
        margin-top: 8%;
        margin-bottom: 8%;
    }
    #cds {
        width: 0%;
    }
    #ipe {
        margin-left: 29%;
       width: 0%;
    }
    .navegacion {
        margin-left: 33%;
    }
    h1 {
        margin-left: 4%;
        margin-top: 50%;
    }

   
}