body {
    background-color: whitesmoke}

    h1 {
        margin-left: 3%;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(35, 150, 60)
    }

    .mueble {
        margin-left: 20%;
    }

    .fotos {
        width: 20%;
        margin-left: 3%;
    }

    .nav {
        margin-top: 2%;
        margin-bottom: 2%;
        background: rgb(51, 4, 4);
        border-top-style: double;
        border-bottom-style: double;
        width: 100%;    
    }

    h2 {
        color: green;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }

    form {
        
        margin: 0 auto;
        width: 400px;
        margin-top: 10%;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;

    }

    form div + div {
        margin-top: 1em;
    }

    label {
        
        display: inline-block;
        width: 90px;
        text-align: right;
    }

    input, textarea {
        
        font: 1em sans-serif;
        width: 300px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #999;
    }

    input:focus, textarea:focus {
        
        border-color: #000;
    }

    textarea {
        
        vertical-align: top;
    
       
        height: 5em;
    
       
        resize: vertical;
    }

    .button {
       
        padding-left: 90px;
    }
    button {
       
        margin-left: .5em;
    }

    #vol {
        margin-left: 5%;
        width: 8%;
        margin-top: 10%;
    }

    #boton {
        margin-left: 46%;
        width: 30%;
    }

    @media (max-width: 650px) {
        #vol {
            margin-left: 5%;
            width: 15%;
            margin-top: 10%;
        }
    }
