img {
    margin-left: 30%;
    width: 40%;
}

form {
        
    margin: 0 auto;
    width: 606px;
    margin-top: 10%;
    padding: 6em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    
    font: 1em sans-serif;
    width: 580px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;

}

input:focus, textarea:focus {
    
    border-color: #000;
}

textarea {
    
    vertical-align: top;

   
    height: 5em;

   
    resize: vertical;
}

.button {
   
    padding-left: 90px;
}
button {
   
    margin-left: .5em;
}

#boton {
    margin-left: 20%;
    width: 52%;
    margin-top: 10%;
}

