body {
    background-color: whitesmoke}

    h1 {
        margin-left: 3%;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(35, 150, 60)
    }

    .mueble {
        margin-left: 20%;
    }

    .fotos {
        width: 20%;
        margin-left: 3%;
    }

    .nav {
        margin-top: 0%;
        background: rgb(51, 4, 4);
        border-top-style: double;
        border-bottom-style: double;
        width: 100%;    
    }

    article {
        float: right;
        margin-right: -57%;
        margin-top: 25%;
        text-align: center;
        font-family: fantasy;
        color: green;
        
    }

    .ofer {
        width: 50%;
    }
    

    @media  (max-width: 1302px) {
        article {
            margin-right: -50%;
        }
    }

    @media  (max-width: 1030px) {
        .mueble {
            margin-left: 0%;
        }
    }

    @media (max-width: 1000px) {
        article {
            margin-right: -63%;
        }
    }

    @media  (max-width: 866px) {
        article {
            margin-right: -63%;
            margin-top: 38%;
        }
        
    }

    @media  (max-width: 823px) {
        article {
            margin-right: -63%;
            margin-top: 38%;}
        .mueble {
                margin-left: -12%;
    }

    @media  (max-width: 823px) {
        article {
            margin-right: -69%;
            margin-top: 48%;}
    }
    @media  (max-width: 742px) {
        .mueble {
            margin-left: 28%;
        }
        article {
            margin-right: -20%;
            margin-top: 48%;
        }
    }
    @media  (max-width: 500px) {
        article {
            margin-left: 100%;
        }
        .mueble {
            margin-left: 0%;
        }
        
}